fastapi
uvicorn[standard]
psycopg2-binary  # atau asyncpg jika menggunakan driver async
sqlalchemy       # Jika menggunakan ORM
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
# tambahkan library lain yang dibutuhkan