fastapi
uvicorn[standard]
psycopg2-binary  # atau asyncpg jika menggunakan driver async
sqlalchemy       # Jika menggunakan ORM
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart # Diperlukan untuk OAuth2PasswordRequestForm di router auth nanti
shortuuid
# tambahkan library lain yang dibutuhkan